# Credentials - explicit exclusions
**/murtuza-weather-*.json
**/client_secret_*.json
*_secret_*.json
**/credentials/*.json
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Airflow
logs/
airflow.db
airflow.cfg
unittests.cfg
webserver_config.py
airflow-webserver.pid

# Environment
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Logs
*.log

# Data files
*.json
*.csv
*.xlsx
!/dags/data/*.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
